*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    min-height: 100vh;
}

body{
    min-height:100%;
}

a {
    white-space: nowrap;
  }

 .mainContent{
   width: 100%;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }

 .title{
    margin: 2%;
 }

.welcome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

.indexphoto{
    border-radius: 15px;
    width: 50%;
}

.textinfo{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    text-align:justify;
    justify-content: center;
  }

  .textinfo p{
    margin: 2%;
    font-size: 100%;
  }

/*CSS card*/
.card {
    width: 25%;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;

}

.nickname{
    margin:10px;
}
.buttonsPlayer {
    margin: 10px;

}

.list-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    gap: 15px;
    max-height: 85vh;
}

.greyborder {
    border-bottom: 1px solid grey;
}

@media (max-width: 992px){
    .welcome{
        flex-direction: column;
        align-item: center;
    }
    .indexphoto{
        border-radius: 15px;
        width: 100%;
    }
    .textinfo{
        max-width: 100%;
}